<div class="combobox">
    <input type="text" placeholder="Select one..." class="combobox-input" [(ngModel)]="inputItem"
        (ngModelChange)="getFilteredList()" (keyup)="onKeyPress($event)" (blur)="toggleListDisplay(0)"
        (focus)="toggleListDisplay(1)" [ngClass]="{'error': showError}" (input)="onSearch()">   
    @if( filteredList.length > 0)
    {
    <div class="combobox-options" *ngIf="!listHidden">
        <list-item *ngFor="let item of filteredList;let i = index" [ngClass]="{'selected': i===selectedIndex}"
            (click)="selectItem(i)">
            {{item.itemType}}
        </list-item>
    </div>
    }
</div>


